@font-face {
    font-family: 'IsidoraBlack';
    font-weight: 400;
    font-style: normal;
    src: local('IsidoraBlack'), url('Isidora-Black.otf') format('opentype');
  }
@font-face {
    font-family: 'IsidoraBlack';
    font-weight: 500;
    font-style: normal;
    src: local('IsidoraBlack'), url('Isidora-Black.otf') format('opentype');
  }
@font-face {
    font-family: 'IsidoraBlack';
    font-weight: 700;
    font-style: normal;
    src: local('IsidoraBlack'), url('Isidora-Black.otf') format('opentype');
  }  